# environments
.venv/
.venv-fw/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# caches
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# model weights / large files
*.pt
*.pth
*.safetensors
*.ckpt
*.bin
*.h5
*.hdf5
*.tar
*.tar.gz
*.zip
*.pem


# data
data/
datasets/
sample_frames/
checkpoints/

# mujoco runtime
MUJOCO_LOG.TXT

# terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup

# editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*~
